/* Stadium CSS v1.0  */
.stadium-hint {
	font-size: var(--hint-font-size, var(--FONT-SIZE-SMALLER));
	font-style: var(--hint-font-style, italic);
	color: var(--hint-font-color, var(--X-DARK-GREY));
	padding: var(--hint-top-padding, 0.2rem) var(--hint-right-padding, 0.6rem) var(--hint-bottom-padding, 0.4rem) var(--hint-left-padding, 0.4rem);
}
.has-validation-error .stadium-hint {
	display: none;
}
.required-indicator:has(.stadium-hint) {
	position: relative;
}
.required-indicator:has(.stadium-hint):after {
	top:0;
	right:0;
}
html {
    min-height: 100%;
    font-size: 62.5%;
}