/* Stadium CSS v1.0  */
.stadium-hint {
	font-size: var(--hint-font-size, var(--FONT-SIZE-SMALLER));
	font-style: var(--hint-font-style, italic);
	color: var(--hint-font-color, var(--X-DARK-GREY));
	padding: var(--hint-top-padding, 2px) var(--hint-right-padding, 6px) var(--hint-bottom-padding, 4px) var(--hint-left-padding, 4px);
}
.has-validation-error .stadium-hint {
	display: none;
}
.required-indicator:has(.stadium-hint) {
	position: relative;
}
.required-indicator:has(.stadium-hint):after {
	top:0;
	right:0;
}