/* Stadium CSS v1.0  */
:root {
    --hint-font-size: 1.1rem;
    --hint-font-color: #7a7a7a;
    --hint-font-style: italic;
    --hint-top-padding: 0.2rem;
    --hint-right-padding: 0.6rem;
    --hint-bottom-padding: 0.4rem;
    --hint-left-padding: 0.4rem;
}